spring:
  application:
    name: updateChecker
  datasource:
    url: jdbc:mysql://localhost:3306/update_checker?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: root
    driverClassName: com.mysql.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 2000MB
      max-request-size: 2015MB
server:
  servlet:
    context-path: /api

eldest:
  date:
    year: 1950

file:
  upload-dir: /files
authentication:
  jwt:
    secret:       secret
    issuer:       http://com.example.org
    audience:     http://com.example.org
    clockSkew:    10   # seconds
    validFor:     864000000 # seconds
    refreshLimit: 1    # times
    claimNames:
      authorities:  authorities
      refreshCount: refreshCount
      refreshLimit: refreshLimit
