spring:
  application:
    name: updatechecker
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 2000MB
      max-request-size: 2015MB
  data:
    mongodb:
      uri: mongodb://vk:QBKBVx4Jm6riUfU@ds131721.mlab.com:31721/update_checker
  main:
    allow-bean-definition-overriding: true
server:
  servlet:
    context-path: /api
  port: ${PORT:8080}

file:
  upload-dir: /files


authentication:
  jwt:
    secret:       secret
    issuer:       http://com.example.org
    audience:     http://com.example.org
    clockSkew:    10   # seconds
    validFor:     864000000 # seconds
    refreshLimit: 1    # times
    claimNames:
      authorities:  authorities
      refreshCount: refreshCount
      refreshLimit: refreshLimit
